@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}
body h3 {
  color: var(--login-text-color);
}

body.light {
  background-color: cornflowerblue;
}

body.dark {
  background-color: #111d25;

  h1 {
    color: #9999a3;
  }

  #section {
    background: rgb(17 34 42);
    input {
      background: rgb(17 34 42);
      color: #9999a3;
    }
  }

  #collCard {
    background: rgb(17 34 42);
    color: rgb(184, 181, 181);
  }

  #account {
    background: rgb(17 34 42);
    color: #9999a3;
  }

  table {
    color: #9999a3;
  }
}

nav {
  background-color: #111d25;
  padding: 1rem 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #9999a3;
}

nav a:hover {
  color: rgb(12, 216, 189);
}
