@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  background-color: rgb(154, 184, 240);

  #itemCol {
    width: 270px;
    color: #cdcde4;
    background: rgba(0, 0, 0, 0.562);
    border: 1px solid #84778a;
    box-shadow: 0px 4px 34px 4px rgba(3, 3, 12, 0.76);
    border-radius: 10px;
  }

  #itemCol:hover {
    background-color: #3d3c41;
  }
}

body.dark {
  background-color: #111d25;

  h1 {
    color: #9999a3;
  }

  table {
    color: #9999a3;
  }
  .card {
    background: rgb(17 34 42);
    color: #9999a3;

    textarea,
    input {
      padding-left: 20px;
      padding-top: 5px;
      border: 1px solid #2d4662;
      border-radius: 10px;
      background: rgb(17 34 42);
      color: #9999a3;
      outline: none;
    }

    textarea:focus {
      border-color: #264caa;
    }
  }

  #itemCol {
    width: 270px;
    color: #9999a3;
    background: rgba(64, 117, 255, 0.3);
    border: 1px solid #4075ff;
    box-shadow: 0px 4px 34px 4px rgba(66, 54, 243, 0.3);
    border-radius: 10px;
  }

  #itemCol:hover {
    background-color: #261a69;
  }
}

nav {
  background-color: #111d25;
  padding: 1rem 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #9999a3;
}

nav a:hover {
  color: rgb(12, 216, 189);
}
